In [1]:
import pandas as pd

In [8]:
a = {
    'UserID': [0, 1, 2],
    '血液型': ['A', 'B', 'AB'],
    '年齢': [20, 50, 35],
    '身長': [179, 164, 150]
}

pd.DataFrame(a)

   UserID 血液型  年齢   身長
0       0   A  20  179
1       1   B  50  164
2       2  AB  35  150